/* 
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

// variables
$Light-green: #7ed56f; //primary light
$Medium-green: #55c57a; //primary
$Dark-green: #28b485;
$Dark-color: #777;
$Light-color: #fff;
$Black: black;
$Light-grey: #f7f7f7;
$font-size: 1.6rem;

// cards color
$orange-light: #ffb900;
$orange-dark: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;
