h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}
h2 {
  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2rem !important;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 25rem;
  // font-size: 1rem;
  color: $Dark-color;

  line-height: 1.7;
}

// section about
.section-header {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  background-image: linear-gradient(to right, $Light-green, $Dark-green);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($Black, 0.2);
    //horizontal vertical text-blur
  }
}

.heading-tertiary {
  font-size: $font-size;
  font-weight: 700;
}

.paragraph {
  font-size: $font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
